<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>JSON Crumbs</title>

    <link id="favicon" rel="icon" href="/json crumbs.png">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://imagineeeinc.github.io/api/cdn/font/ibmplex/mono/font.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <img src="/json crumbs.png" style="width: 20%">
      <br>
      <h1>JSON Crumbs</h1>
      <h6>
        A json database avalible for everyone for free
      </h6>
    </header>
    <section>
      <!--Your 1 Hour Database: 
      <code id="1h"></code>
      <hr>
      Your 24 Hour Database: 
      <code id="24h"></code>
      <hr>-->
      Your 7 Days Database: 
      <code id="7d"></code>
      <hr>
      Your 30 Days Database: 
      <code id="30d"></code>
    </section>

    <footer style="text-align: center;">
      <span>
        <a href="/docs">docs</a>
        <br>
        <a href="/">Main Page</a>
        <hr>
        <img src="https://imagineeeinc.github.io/icon/user.png" style="width: 35px; border-radius: 75px; border: 1px solid#000080;">
        <br>
        ©<script>document.write(new Date().getFullYear())</script>
        <br>
        <a href="https://github.com/imagineeeinc">Imagineee</a>
      </span>
    </footer>
    <script>
      var uuid1h = "<%= uuid1h %>"
      var uuid24h = "<%= uuid24h %>"
      var uuid7d = "<%= uuid7d %>"
      var uuid30d = "<%= uuid30d %>"
      var uuidinf = "<%= uuidinf %>"
    </script>
    <script src="/script.js" defer></script>
  </body>
</html>
