<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>JSONDataStore</title>

    <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/bb5f7e50-05a1-4a31-8ecc-924589ab22e1.png?1612515839152">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://imagineeeinc.github.io/api/cdn/font/ibmplex/mono/font.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>JSONDataStore</h1>
      <h6>
        A json database avalible for everyone for free
      </h6>
    </header>
    Your 1 Hour Database: 
    <code id="1h"></code>
    <hr>
    Your 24 Hour Database: 
    <code id="24h"></code>
    <hr>
    Your 7 Days Database: 
    <code id="7d"></code>
    <hr>
    Your 30 Days Database: 
    <code id="30d"></code>

    <footer style="text-align: center;">
      <p><img src="https://imagineeeinc.github.io/icon/user.png" style="width: 35px; border-radius: 75px; border: 1px solid#000080;"></p>
      <p>©<script>document.write(new Date().getFullYear())</script></p>
      <a href="https://github.com/imagineeeinc">Imagineee</a>
    </footer>
    <script>
      var uuid1h = "<%= uuid1h %>"
      var uuid24h = "<%= uuid24h %>"
      var uuid7d = "<%= uuid7d %>"
      var uuid30d = "<%= uuid30d %>"
      var uuidinf = "<%= uuidinf %>"
    </script>
    <script src="/script.js" defer></script>
  </body>
</html>
